.navbar {
    height: 60px;
}
.mainNavbar {
    justify-content: flex-start;
    font-size: 20px;
    padding: 10px 30px;
}
#PKUweb {
    height: 50px;
    margin-left: 75px;
}

#logo {
    height: 100%;
}

#pool {
    width: 80%;
}
